.navbar {
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  width: 60px;
}
.navbar-light .navbar-nav .nav-link {
  margin: 0 20px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 2px solid #d7e4f7;
}
.social-media.navbar-nav .nav-link {
  margin: 0;
}
